@model Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <img src="@(Model.CoverImageUrl == null ? ViewData["NoBookCoverImage"] : Model.CoverImageUrl)" alt="Cover Image" width="300" height="300" />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Title"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            <label asp-for="PublicationDate"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.PublicationDate.ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">
            <label asp-for="AvailableCount"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.AvailableCount
        </dd>
        <dt class="col-sm-2">
            <label asp-for="TotalCount"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.TotalCount
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Book" asp-action="Index">Back to List</a>
</div>
