@model IEnumerable<LibraryWebApp.Models.Book>

@{
    ViewData["Title"] = "Library Catalogue";
}

<h1>Catalogue</h1>

<p>
    <!-- TO DO Hide the button to non admin users -->
    <a asp-action="Create" class="btn btn-primary">Add Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCount)
            </td>
            <td>
                    <!-- TO DO Hide the buttons to non admin users -->
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
